.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.Content{
  overflow: hidden;
  height: 800px;
}
.ant-carousel .slick-slide {
  text-align: center;
  background: #364d79;
  height: 800px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.adapt{
  padding: 0px;
  margin: 0px;
}
